{% extends 'frontdesk/base.html' %}
{% load static %}
{% block title %} Faskes Frontdesk {% endblock %}
{% block uppertitle %} Page {% endblock %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>{{ title }}</h4>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12" id="form1">
            <div class="card">
                <div class="card-header">


                </div>
                <div class="card-body">


                </div>

            </div>
        </div>
    </div>
    <!-- row -->


</div>
</div>


{% endblock %}