{% extends 'pasien/base/base.html' %}
{% load static %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="col-xl-12 col-lg-12" id="form1">
            <div class="card">
                <div class="card-header">
                  <h4>Rawat Jalan</h4>


                </div>
                <div class="card-body">


                </div>

            </div>
        </div>
    </div>
    <!-- row -->


</div>
</div>
{% block js %}
<script src="{% static '/pasien/js/rawatjalan.js' %}"></script>
{% endblock %}

{% endblock %}